{% extends 'main/base.html' %}

{% block unauthentic %}

{% endblock%}

{% block contact %}
    <div class="container">
      <div class="jumbotron mt-3">
        <h1>Contact</h1>
        <p class="lead">For Problems, Help or General Info</p>
        <p class="lead text-muted">dutoitdevon@gmail.com</p>
        <a class="btn btn-lg btn-success" href="https://github.com/psiphi-py/cimi/" role="button" target=
        "_blank"target="_blank">GitHub</a>
      </div>
    </div>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          Devon du Toit, 2019
        </p>
      </div>
    </footer>
{% endblock%}