<!-- Page displaying my contact info to the whole world, and yes, please send me ads about *insert pyramid
scheme here* -->
{% extends 'main/base.html' %}

<!-- enabling anonymous users to view this page -->
{% block unauthentic %}

{% endblock%}

<!-- modified Bootstrap example album -->
{% block contact %}
<!-- Main Banner -->
    <div class="container">
      <div class="jumbotron mt-3">
        <h1>Contact</h1>
        <p class="lead">For Inquiries, Help or General Info</p>
<!-- My info, let's hope spam-scrappers don't send me penis enlargement ads... QQ -->
        <p class="lead text-muted">dutoitdevon@gmail.com</p>
<!-- GitHub to GitGud Scrub -->
        <a class="btn btn-lg btn-success" href="https://github.com/psiphi-py/cimi/" role="button" target=
        "_blank">GitHub</a>
      </div>
    </div>
<!-- Footer to stop skitzy plagiarism -->
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          Devon du Toit, 2019
        </p>
      </div>
    </footer>
{% endblock%}