{% extends 'main/base.html' %}

{% block title %} Create New List {% endblock %}

{% block content %}

    <h3>Create Kitchen</h3>

    <form method="post" action="/create/" class="form-group" autocomplete="off">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="submit" class="btn btn-success">Create New Kitchen</button>
            </div>
            {{form.name}}
        </div>

    </form>
{% endblock %}