<!-- Page displaying user's Kitchen creation-->
{% extends 'main/base.html' %}

{% block title %}{% endblock %}

{% block content %}

    <h3>Create Kitchen</h3>
<!-- post django form asking user what they wish to call their kitchen, connecting this to the user -->
    <form method="post" action="/create/" class="form-group" autocomplete="off">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="submit" class="btn btn-success">Create New Kitchen</button>
            </div>
            {{form.name}}
        </div>

    </form>
{% endblock %}