{% extends 'main/base.html' %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <main role="main">

                          <section class="jumbotron text-center">
                            <div class="container">
                              <h1 class="jumbotron-heading">Welcome to CIMI</h1>
                              <p class="lead text-muted">Your Personal Recipe Search Engine. For info on how to use
                              CIMI, hit the 'About' button. Alternatively, for contact info, hit the 'Contact' button.</p>
                              <p>
                                <a href="/about" class="btn btn-primary my-2">About</a>
                                <a href="/contact" class="btn btn-success my-2">Contact</a>
                              </p>
                            </div>
                          </section>

                          <div class="album py-5 bg-light">
                            <div class="container">

                              <div class="row">
                                <div class="col-md-4">
                                  <div class="card mb-4 box-shadow">
                                    <img class="card-img-top" src="{% static 'main/images/img3.jpg' %}" alt="Card image cap">
                                    <div class="card-body">
                                      <p class="card-text">CIMI helps you find recipes for your left-over ingredients.</p>

                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="card mb-4 box-shadow">
                                    <img class="card-img-top" src="{% static 'main/images/img5.jpg' %}" alt="Card image cap">
                                    <div class="card-body">
                                      <p class="card-text">Find recipes for your ingredients from the largest recipe websites</p>

                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="card mb-4 box-shadow">
                                    <img class="card-img-top"src="{% static 'main/images/img4.jpg' %}" alt="Card image cap">
                                    <div class="card-body">
                                      <p class="card-text">Sign Up and discover recipes ranging from beginner level to master chef quality</p>

                                    </div>
                                  </div>
                                </div>


                              </div>
                            </div>
                          </div>

                        </main>

                        <footer class="text-muted">
                          <div class="container">
                            <p class="float-right">
                              Devon du Toit, 2019
                            </p>

                          </div>
                        </footer>


{% endblock %}