<!-- Page for adding Ingredients to user's Kitchen -->
{% extends 'main/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<!-- ls received from user's added data -->
    <h1>{{ls.name}}</h1>
    <form method='post' action="#" autocomplete="off">
        {% csrf_token %}

<!-- algorithm for adding ingredients and selecting the checkbox to allow ingredient deletion -->
<!-- 1.first defining the checkboxes -->
        {% for item in ls.ingredient_set.all %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        {% if item.complete == True %}
                            <input type="checkbox" value="clicked" name="c{{item.id}}" checked>
                        {% else %}
                            <input type="checkbox" value="clicked" name="c{{item.id}}">
                        {% endif %}
                    </div>
                </div>
                <input type="text" value="{{item.text}}" class="form-control">
            </div>
        {% endfor %}
<!-- 2.Prompt user to add more ingredients -->
        <div class="input-group mb-3">
            <input type="text" name="new" placeholder="Add an Ingredient">
            <div class="input-group-prepend">
                <button type="submit" value="newItem" name="newItem" class="btn btn-success">Add to Kitchen</button>
                &ensp;
            </div>

        </div>

        <button type="submit" value="save" name="save" class="btn btn-danger">Remove Selected</button>
    </form>

    <br>
<!-- buttons to prompt the user to scrape google search results for ingredients from selected recipe sites -->
<!-- initialising web-scrappers in main/views -->
    <div class="input-group">
        <form action="/allrecipes/">
            <button type="submit" class="btn btn-primary">Try allrecipes.com's recipes</button> &ensp;
        </form>

        <form action="/foodnetwork/">
            <button type="submit" class="btn btn-primary">Try foodnetwork.com's recipes</button> &ensp;
        </form>

        <form action="/food_com/">
            <button type="submit" class="btn btn-primary">Try food.com's recipes</button>
        </form>
    </div>
{% endblock %}