<!-- Manage Kitchen page -->
{% extends 'main/base.html' %}

{% block title %}
    View
{% endblock %}

{% block content %}
<!-- Algorithm for moving user to ingredient adding page or deleting their Kitchen -->
    <div class="input-group">
        {% if user.kitchen.all %}
<!-- k received from user's added data -->
            {% for k in user.kitchen.all %}
                <p><h2>{{k.name}} &nbsp; </h2></p>
                <form action="/{{k.id}}">
                    <button type="submit" class="btn btn-success">Add Ingredients</button> &nbsp;
                </form>
                <form action="/delete/">
                    <button type="submit" class="btn btn-danger">Delete Kitchen</button>
                </form>
            {% endfor %}
        {% else %}
<!-- if user selected 'manage kitchen' before creating a kitchen a.k.a GTFO -->
            <p>No existing Kitchen. Create a new Kitchen <a href="/create/">Here</a></p>
        {% endif %}
    </div>

{% endblock %}