<!-- Page for user login -->
{% extends 'main/base.html'%}

{% block title %}
    Login Here
{% endblock %}

<!-- crispy form integration for cosmetic purposes -->
{% load crispy_forms_tags %}

{% block login%}
<!-- django form method for user login -->
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
<!-- prompt if user hasn't registered -->
        <p>Don't have an account? Create one <a href="/register"> here</a></p>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
{% endblock %}

<!-- disable unregistered user content -->
{% block unauthentic %} {% endblock %}