<!-- Page displaying user registration form via django forms and crispy form-->
{% extends 'main/base.html' %}

{% block title %}
    Create an Account
{% endblock %}
<!-- crispy form integration for cosmetic purposes -->
{% load crispy_forms_tags %}

{% block login %}
<!-- django form method for user registration -->
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">Register</button>
    </form>
{% endblock %}

<!-- disable unregistered user content -->
{% block unauthentic %} {% endblock %}