/* main navigation bar from base.html */
.sidenav {
    height: 100%;
    width: 13%;
    position: fixed;
    z-index: 1;
    top: 0;
    Left: 0;
    background-color: #111;
    overflow-x: :hidden;
    padding-top: 20px;
}

/* navigation bar hyperlinks */
.sidenav a {
    padding: 1% 4% 20% 10%;
    text-decoration: none;
    font-size: 17px;
    font-size: 1.5vw;
    color: #818181;
    display: block;
}

/* navigation bar hyperlink's colour change when hovering over them*/
.sidenav a:hover {
    color: #f1f1f1;
}

